<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-meta-heading" data-cy="MetaCreateUpdateHeading" jhiTranslate="projetoApp.meta.home.createOrEditLabel">
        Create or edit a Meta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="projetoApp.meta.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let areaRef = editForm.get('area')!;
        <div class="mb-3">
          <label class="form-label" for="field_area" jhiTranslate="projetoApp.meta.area">Area</label>
          <input type="text" class="form-control" name="area" id="field_area" data-cy="area" formControlName="area" />
          @if (areaRef.invalid && (areaRef.dirty || areaRef.touched)) {
            <div>
              @if (editForm.get('area')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let notaEsperadaRef = editForm.get('notaEsperada')!;
        <div class="mb-3">
          <label class="form-label" for="field_notaEsperada" jhiTranslate="projetoApp.meta.notaEsperada">Nota Esperada</label>
          <input
            type="number"
            class="form-control"
            name="notaEsperada"
            id="field_notaEsperada"
            data-cy="notaEsperada"
            formControlName="notaEsperada"
          />
          @if (notaEsperadaRef.invalid && (notaEsperadaRef.dirty || notaEsperadaRef.touched)) {
            <div>
              @if (editForm.get('notaEsperada')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('notaEsperada')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aluno" jhiTranslate="projetoApp.meta.aluno">Aluno</label>
          <select class="form-control" id="field_aluno" data-cy="aluno" name="aluno" formControlName="aluno" [compareWith]="compareAluno">
            <option [ngValue]="null"></option>
            @for (alunoOption of alunosSharedCollection; track $index) {
              <option [ngValue]="alunoOption">{{ alunoOption.email }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
