<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (meta(); as metaRef) {
      <div>
        <h2 data-cy="metaDetailsHeading"><span jhiTranslate="projetoApp.meta.detail.title">Meta</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ metaRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="projetoApp.meta.area">Area</span></dt>
          <dd>
            <span>{{ metaRef.area }}</span>
          </dd>
          <dt><span jhiTranslate="projetoApp.meta.notaEsperada">Nota Esperada</span></dt>
          <dd>
            <span>{{ metaRef.notaEsperada }}</span>
          </dd>
          <dt><span jhiTranslate="projetoApp.meta.aluno">Aluno</span></dt>
          <dd>
            @if (meta()!.aluno) {
              <div>
                <a [routerLink]="['/aluno', meta()!.aluno?.id, 'view']">{{ metaRef.aluno?.email }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/meta', metaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
